@model Ch24ShoppingCartMVC.Models.CartViewModel
    
@{
    <link href="~/Content/Home.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
    <div >
        @foreach (var item in @Model.Cart)
        {

        <table>
            <tr>
                <th>Product Name</th>
                <th>Individual Price</th>
                <th>Quantity</th>
                <th>Total Product Price</th>
            </tr>
          
            
        </table>
        
        }
    </div>
</body>
</html>
